$primary-color: #2a8ce7; //默认色主色（蓝色）
$nav-b-color:#3b516f; //侧边栏背景色
$fff:#fff; //整体底色
$danger: #f04b4b; //警告色
$light-blue: #eaf6fe; //淡蓝色
$disabled: #c3c3c3; //禁用色

$f-pri-c: #555; //默认字体色

//font-color
$bold-color: #333;
