//font-size
.f-s-0{
  font-size:0;
}
.f-s-11{
  font-size:11px;
}
.f-s-24{
  font-size:24px;
}
.f-s-12{
  font-size: 12px;
}
.f-s-13{
  font-size: 13px;
}
.f-s-14{
  font-size: 14px;
}
.f-s-15{
  font-size: 15px;
}
.f-s-16{
  font-size: 16px;
}
.f-s-20{
  font-size: 20px;
}
.f-s-22{
  font-size: 22px;
}
