.el-card{
  border-radius: 10px;
  padding-left: 20px;
  padding-right: 20px;
}
.el-card__header{
  height: 51px;
  box-sizing: border-box;
  line-height: 50px;
  padding:0;
}
.el-card__body{
  padding: 40px 0 40px 0;
}
