/* 改变主题色变量 */

$--color-primary: #2a8ce7;
$--color-success: #107E06 !default;
$--color-warning: #e6a23c !default;
$--color-danger: #BC0D25 !default;
$--color-error: #BC0D25 !default;
$--color-info: #909399 !default;


/* 改变 icon 字体路径变量，必需 */
$--font-path: '~element-ui/lib/theme-chalk/fonts';
@import "~element-ui/packages/theme-chalk/src/index";

/*
覆盖原有element组件ui
 */
.el-main{
  padding: 40px;
}

.el-input__suffix{
  right:0;
}


/*
覆盖弹框默认样式
 */
.el-message-box{
  border-top-left-radius:0;
  border-top-right-radius:0;
  border-bottom-left-radius:0;
  border-bottom-right-radius:0;
}
.el-input__inner{
  border-top-left-radius:0;
  border-top-right-radius:0;
  border-bottom-left-radius:0;
  border-bottom-right-radius:0;
}
/*
覆盖table
 */
.el-table th{
}
