@import './index';
$input-height: 32px;
.el-input__inner{
  height:$input-height;
  line-height:$input-height;
  padding:0 10px;
}
.el-input.is-disabled .el-input__inner{
  color:#777;
  background: #fff;
}
/*
form label
 */
.el-form-item__label{
  padding:0 24px 0 0;
  font-weight: 400;
}
.el-form-item.is-success .el-input__inner,.el-form-item.is-success .el-textarea__inner{
  border-color:#dcdfe6;
}
.el-form-item.is-success .el-input__inner:focus,  .el-form-item.is-success .el-textarea__inner:focus{
  border-color:$primary-color;
}
.none-label{
  .el-form-item__error{
    left: 100px;
  }
}
/*
覆盖button
 */
.el-button{
  border-radius:2px;
  padding: 8px 25px;
  font-size:14px;
}
.el-button.big-button{
  width: 100px;
  box-sizing: border-box;
  font-size:14px;
  text-align: center;
  padding:0;
  height: 32px;
}
.el-button--medium{
  padding:10px 25px;
}
.el-button--primary:focus{
  background: $primary-color;
  border-color: $primary-color;
}
.el-button--primary:hover{
  background: rgba(40,140,231,.8);
  border-color: rgba(40,140,231,.8);
}
.cancel{
  color: #555;
  background: #fff;
  border-color: #c3c3c3;
}
.cancel:hover{
  color: #555;
  background: #f8f8f8;
  border-color: #c3c3c3;
}
.el-button + .el-button{
  margin-left: 20px;
}
.el-button--danger{
  color: $danger;
  border-color: $danger;
  background: #fff;
}
.el-button--danger:hover{
  color: $fff;
  border-color: $danger;
  background: $danger;
}
.el-button--danger:focus{
  color: $danger;
  border-color: $danger;
  background: #fff;
}

/*
覆盖input
 */
.el-input__inner{
  border-radius: 1px;
}
.el-textarea__inner{
  border-radius: 1px;
}
//.el-select .el-input__inner{
//  color:$primary-color;
//}
.el-select .el-input__inner:focus{
  .el-select__caret{
    color: $primary-color;
  }
}
/*
下拉菜单
 */

.yoy-nav{
  .popper__arrow{
    display: none !important;
  }
}
.select {
  width: 190px;
  .el-input__inner{
    color:$primary-color;
  }
  .el-input__inner::-webkit-input-placeholder {
    color: #C7CAD1 !important;
    font-size: 13px !important;
  }
  .el-input__inner:-moz-placeholder {
    color: #C7CAD1 !important;
    font-size: 13px !important;
  }
  .el-input__inner::-moz-placeholder {
    color: #C7CAD1 !important;
    font-size: 13px !important;
  }
  .el-input__inner:-ms-input-placeholder {
    color: #C7CAD1 !important;
    font-size: 13px !important;
  }
}
.el-button.is-disabled, .el-button.is-disabled:hover, .el-button.is-disabled:focus{
  cursor: default;
}

.sayHello{
  .el-textarea__inner {
    padding-left: 10px !important;
  }
}
.keyword-changeColor{
  border:1px solid red;
  .el-input.is-active,.el-input__inner:focus{
    border: none !important;
  }
}

