@import './index';
$input-height: 32px;
.el-input__inner{
  height:$input-height;
  line-height:$input-height;
}
.el-input.is-disabled .el-input__inner{
  color:#777;
  background: #fff;
}
/*
form label
 */
.el-form-item__label{
  padding:0 24px 0 0;
}
.el-form-item.is-success .el-input__inner,.el-form-item.is-success .el-textarea__inner{
  border-color:#dcdfe6;
}
.el-form-item.is-success .el-input__inner:focus,  .el-form-item.is-success .el-textarea__inner:focus{
  border-color:$primary-color;
}
.none-label{
  .el-form-item__error{
    left: 100px;
  }
}
  /*
  覆盖button
   */
.el-button{
  border-radius:2px;
  padding:10px 30px;
  font-size:14px;
}
.el-button--medium{
  padding:10px 25px;
}
.el-button--primary:focus{
  background: $primary-color;
  border-color: $primary-color;
}
.el-button--primary:hover{
  background: rgba(40,140,231,.8);
  border-color: rgba(40,140,231,.8);
}
/*
覆盖input
 */
.el-input__inner{
  border-top-left-radius:1px;
  border-top-right-radius:1px;
  border-bottom-left-radius:1px;
  border-bottom-right-radius:1px;
}
.el-textarea__inner{
  border-radius: 1px;
}
/*
下拉菜单
 */

.yoy-nav{
  .popper__arrow{
    display: none !important;
  }
}

