html,body{
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;

}
body{
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  position: relative;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 1;
}
.clearfix:after{
  content: ".";
  clear: both;
  display: block;
  overflow: hidden;
  font-size: 0;
  height: 0;
}
